[Desktop Entry]
Exec=sudo brutessh; sudo -s
Icon=preferences-web-browser-cache
Name=BruteSSH
Path=/usr/share/brutessh/
StartupNotify=true
Terminal=1
Type=Application
X-KDE-SubstituteUID=false
Categories=PasswordOnlineAttacks
