[Desktop Entry]
Comment=
Exec=cd /usr/share/burpsuite;java -jar burpsuite_v1.1.jar
Icon=preferences-web-browser-cache
Name=Burpsuite
Path=/usr/share/burpsuite/
StartupNotify=true
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
Categories=Vulnerability-Identification-Web;Web-Application
