[Desktop Entry]
Exec=cryptcat -h;sudo -s
Icon=preferences-web-browser-cache
Name=CryptCat
StartupNotify=true
Terminal=1
Type=Application
X-KDE-SubstituteUID=false
Categories=Tunneling
