[Desktop Entry]
Exec=csrftester
Icon=preferences-web-browser-cache
Name=CSRFTester
Path=/usr/share/csrftester/
StartupNotify=true
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
Categories=Vulnerability-Identification-Web;Web-Application
