[Desktop Entry]
Exec=webshag
Icon=preferences-web-browser-cache
Name=Webshag
Path=/usr/share/webshag/
StartupNotify=true
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
Categories=Vulnerability-Identification-Web;
