[Desktop Entry]
Name=Elegance
Name[ca]=Elegància
Name[es]=Elegante
Name[fr]=Élégance
Name[gl]=Elegancia
Name[is]=Elegant
Name[it]=Eleganza
Name[lt]=Elegancija
Name[mk]=Елеганција
Name[nds]=Eleganz
Name[pl]=Elegancja
Name[pt]=Elegância
Name[pt_BR]=Elegância
Name[ro]=Eleganță
Name[sr]=Елеганција
Name[sr@latin]=Elegancija
Name[sv]=Elegans
Name[uk]=Елегантність
Name[x-test]=xxElegancexx
Name[zh_CN]=优雅

Comment=An elegant theme for plasma
Comment[ca]=Un tema elegant per al plasma
Comment[da]=Et elegant tema til Plasma
Comment[de]=Ein elegantes Design für Plasma
Comment[el]=Ένα κομψό θέμα για το plasma
Comment[es]=Un tema elegante para plasma
Comment[et]=Elegantne Plasma teema
Comment[fr]=Un thème élégant pour plasma
Comment[gl]=Un tema elegante para plasma
Comment[is]=Fínlegt plasmaþema
Comment[it]=Un tema elegante per Plasma
Comment[ja]=Plasma のエレガントなテーマ
Comment[lt]=Elegantiška plasma tema
Comment[lv]=Eleganta plazmas tēma
Comment[mk]=Елегантна тема за плазма
Comment[nds]=En elegant Muster för Plasma
Comment[nl]=Een elegant thema voor plasma
Comment[pl]=Elegancki motyw dla Plazmy
Comment[pt]=Um tema elegante para o Plasma
Comment[pt_BR]=Um tema elegante para o plasma
Comment[ro]=O tematică elegantă pentru plasmă
Comment[sr]=Елегантна тема за Плазму
Comment[sr@latin]=Elegantna tema za Plasmu
Comment[sv]=Ett elegant tema för Plasma
Comment[tr]=Plasma için şık bir tema
Comment[uk]=Елегантна тема для Плазми
Comment[x-test]=xxAn elegant theme for plasmaxx
Comment[zh_CN]=一个优雅的 Plasma 主题
Comment[zh_TW]=plasma 高雅的主題。

X-KDE-PluginInfo-Author=AdrienV
X-KDE-PluginInfo-Email=adrien.vermeulen (at) free.fr
X-KDE-PluginInfo-Name=Elegance
X-KDE-PluginInfo-Version=0.7
X-KDE-PluginInfo-Website=http://www.kde-look.org
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
