[Desktop Entry]
Exec=seat
Icon=preferences-web-browser-cache
Name=SEAT
Path=/usr/share/seat/
StartupNotify=true
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
Categories=Information-Gathering-Searchengine;Information-Gathering-Archive

