[Desktop Entry]
Exec=sqlix | head -n24; echo;echo "There are more options available type sqlix to see the full list" ; echo;sudo -s
GenericName=
Icon=preferences-web-browser-cache
Name=SQLiX
Path=/usr/share/sqlix/
StartupNotify=true
Terminal=1
Type=Application
X-KDE-SubstituteUID=false
Categories=Vulnerability-Identification-Database;Web-Application
