[Desktop Entry]
Exec=aesfix;sudo -s
Icon=preferences-web-browser-cache
Name=AESfix
StartupNotify=true
Terminal=1
Type=Application
X-KDE-SubstituteUID=false
Categories=Misc
