[Desktop Entry]
Exec=curl --help;sudo -s
Icon=preferences-web-browser-cache
Name=Curl
StartupNotify=true
Terminal=1
Type=Application
X-KDE-SubstituteUID=false
Categories=Vulnerability-Identification-Web
