[Desktop Entry]
Exec=jbrofuzz
Icon=preferences-web-browser-cache
Name=JBroFuzz
StartupNotify=true
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
Categories=Vulnerability-Identification-Fuzzers
