[Desktop Entry]
Exec=msfgui; sudo -s
Icon=preferences-web-browser-cache
Name=Framework3-MsfGUI
Path=/opt/metasploit3/
StartupNotify=true
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
Categories=Penetration
