[Desktop Entry]
Exec=paros
Icon=preferences-web-browser-cache
Name=Paros Proxy
Path=/usr/share/paros
StartupNotify=true
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
Categories=Vulnerability-Identification-Web;Misc
