[Desktop Entry]
Exec=rtsort;sudo -s
Icon=preferences-web-browser-cache
Name=RTSort
StartupNotify=true
Terminal=1
Type=Application
X-KDE-SubstituteUID=false
Categories=PasswordOfflineAttacks;Rainbowcrack
