[Desktop Entry]
Exec=tctrace -h;sudo -s
Icon=preferences-web-browser-cache
Name=Tctrace
StartupNotify=true
Terminal=1
Type=Application
X-KDE-SubstituteUID=false
Categories=Information-Gathering-Route
