[Desktop Entry]
Exec=ussp-push;sudo -s
Icon=preferences-web-browser-cache
Name=Ussp-Push
StartupNotify=true
Terminal=1
Type=Application
X-KDE-SubstituteUID=false
Categories=Bluetooth
