[Desktop Entry]
Exec=ls;sudo -s
Icon=preferences-web-browser-cache
Name=Voiper
Path=/usr/share/voiper/
StartupNotify=true
Terminal=1
Type=Application
X-KDE-SubstituteUID=false
Categories=Vulnerability-Identification-Fuzzers;Voip-And-Telephony-VOIP-Signalling
